/**
  * Making layout visible during styling progress
  */
body {
    /*background-color: LightGray;*/
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    letter-spacing: 0.03em;
}

/*div {
    border: 1px solid Chocolate;
}*/

ol, ul {
    list-style: none;
}

.top-navigation {
	background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #ddd;
    z-index: 10;
}

.top-navigation > .content {
    height: 4.375rem;
}

.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
    cursor: pointer;
}

.top-navigation .links li:hover {
	color: #535964;
	font-weight: 400;
}

.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .logo {
    margin-top: .9rem;
	height: 2.4rem;
}

.introduction {
    background-image: url("../images/first-background.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.content {
    width: 55rem;
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}

.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.introduction h1, .introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.introduction .buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}

button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

button:hover {
    background-color: #ff5a29;
    border-color: #ff5a29;
    font-weight: 700;
    cursor: pointer;
}

.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}

.cases .content {
    width: 70rem;
}

.cases h2 {
    padding: 3rem;
    text-align: center;
    color: #1d1e21;
    font-size: 2.76rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.cases ul {
    margin-top: 0;
    text-align: center;
}

.cases li {
    display: inline-block;
    padding: 0 3.725rem 0 3.725rem;
    font-size: 0.93rem;
    color: #1d1e21;
    width: 11rem;
}

.devices {
    padding-left: 0;
}

.devices .caption {
    margin-left: -2.925rem;
    width: 150%;
    color: #333;
}

.devices .caption h3 {
    font-size: 1.545rem;
    font-weight: 500;
}

.social {
    text-align: center;
    color: #1d1e21;
}

.social .content {
    border-top: solid 1px #ddd;
}

.social h5 {
    font-size: .975rem;
    color: #222;
    margin-bottom: 0;
}

.icons {
    text-align: center;
    padding-left: 0;
    margin: 0;
}

.icons li {
    border-radius: 1.25rem;
    width: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0 0.625rem 0;
    text-align: center;
}

.icons li:hover {
    cursor: pointer;
    background-color: #fefefe;
}

footer {
    padding-bottom: 8.275rem;
}

.social h5 {
    font-weight: 500;
}

.social .twitter {
    color: #55acee;
}

.social .facebook {
    color: #4c66a4;
}

.social .instagram {
    color: #3f729b;
}

.copyright {
    font-size: .85rem;
    color: #999;
}
